#score-table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#table {
    display: flex;
    flex-direction: column;
}

#play {
    padding: 20px 40px 20px 40px;
    margin-top: 50px;
}
